

<div class="bg-image"></div>
<div class="main">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1 class="title text-center">
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
          <i class="fas fa-dumpster-fire"></i> YOU'VE GOT A MATCH! 
        </h1>
      </div>
    </nav>
  <div class = "container restaurant-list">
      <div class ="row">
          <div class = "col-md-12">
              <div class="restaurants">
                  <div>
                      <h2 id="match-name"></h2>
                  </div>
                  <img id="match-image">
              </div>
          </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/userTwoRestaurants.js"></script>
