    
    <div class = "container">
        {{#each restaurant}}
        <div class="container restaurants">
            <div id="restaurant-name">{{name}}</div>
            <img id="restaurant-image" src="{{image_url}}">
            
            <div class="buttons">
                <button id="thumbs-up"><i class=" thumbs fas fa-thumbs-up"></i></button>
                <button id="thumbs-down"><i class="thumbs fas fa-thumbs-down"></i></button>
            </div>
        </div>
        {{/each}}
    </div>