    <div class="container users">
        <div class="buttons"></div>
            {{#each users}}
                <button id="{{userId}}">{{name}}</button>
            {{/each}}
        </div>
    </div>