
  <div class="bg-image"></div>
  <div class="main">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1 class="title text-center">
          <a class="navbar-brand" href="/logout">
            Logout</a>Urban Forage <i class="fas fa-seedling"></i></h1>
        <div class="navbar-header">
        </div>
      </div>
    </nav>
    <div class="container">
      <div class = "row">
          <div class = "container restaurant-list">
                <div class ="row">
                    <div class = "col-md-12">
                        <div class="container restaurants">
                            <div id="restaurant-name">{{restaurantId}}</div>
                            <img id="restaurant-image" src="{{imageURL}}">
                            <div class="buttons">
                                <a href = "/match"><button id="thumbs-up"><i class=" thumbs fas fa-thumbs-up"></i></button></a>
                                <button id="thumbs-down"><i class="thumbs fas fa-thumbs-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/userTwoRestaurants.js"></script>
