form.signup,
form.login {
  margin-top: 50px;
}

.bg-image {
  background-image: url('../images/img3.jpg');
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  filter: blur(4px);
  position: relative;
  z-index: -1;
  opacity: 90%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.title {
  color: rgb(179, 98, 0);
  font-weight: 800;
}

.restaurants {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 30%;
  padding: 0px 0px 5px 0px;
  text-align: center;
  margin: 0 auto;
}

#restaurant-name {
  background-color: white;
  color: rgb(179, 98, 0);
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

#restaurant-image {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .city-form {
  margin-top: 25%;
} */

#thumbs-up {
  color: green;
  padding: 5px;
  border-style: none;
  border-radius: 2px;
}

#thumbs-down {
  margin-left: 5px;
  color: red;
  padding: 5px;
  border-style: none;
  border-radius: 2px;
}

.label,
.form-label {
  /* color: rgb(63, 63, 63); */
  color: rgb(241,224,181);
}

.signup-label,
.login-label {
  color: rgb(76,72,75)
}

.welcome{
  color: rgb(241,224,181);
}

.btn{
  color: rgb(179, 98, 0);;
}


#city-search{
  display: inline-block;
}
.city{
  display: inline;
}
.user-email {
  margin: 5px;

}

.restaurant-list{
  margin-top: 50px;
}

#matches-div{
  margin-top: 20px;
}

#see-matches{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}