form.signup,
form.login {
  margin-top: 50px;
}

.bg-image {
  background-image: url('../images/img3.jpg');
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  filter: blur(4px);
  position: relative;
  z-index: -1;
  opacity: 90%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.title {
  color: rgb(179, 98, 0);
  font-weight: 800;
}

.restaurants {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 30%;
  padding-top: 0px;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  left: 35%;
  top: 25%;
}

#restaurant-name {
  background-color: white;
  color: rgb(179, 98, 0);
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

#restaurant-image {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons {
  padding-bottom: 10px;
}

#thumbs-up {
  color: green;
  padding: 5px;
  border-style: none;
  border-radius: 2px;
}

#thumbs-down {
  margin-left: 5px;
  color: red;
  padding: 5px;
  border-style: none;
  border-radius: 2px;
}

.label,
.form-label {
  /* color: rgb(63, 63, 63); */
  color: lightsalmon;
}

.signup-label,
.login-label {
  color: white;
}

.welcome{
  color: lightsalmon;
}

.btn{
  color: rgb(179, 98, 0);;
}


#city-search{
  display: inline-block;
}
.city{
  display: inline;
}
.user-email {
  margin: 5px;

}