form.signup,
form.login {
  margin-top: 50px;
}

.title {
  color: rgb(179, 98, 0);
  font-weight: 800;
}

.login-heading,
.email-label,
.password-label {
  /* color: rgb(63, 63, 63); */
  color: lightsalmon;
}

.signup-label {
  color: white;
}

body {
  background-image: url('../images/img3.jpg');
  background-size: cover;
}
